* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background-color: rgb(68, 86, 145);
  }
  

  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }
  
  h3 {
    margin: auto;
    color: rgb(66, 171, 231);
    font-size: 20px;
  }
  
 
  
 